.subHeader {
    height: 4vw;
    background-color: #78409c;
    text-align: left;
    margin-top: 2vw;
    outline: 1px solid red;
}
.title {
    color: white;
    font-size: 2vw;
    outline: 1px solid black;
}
.specialCard {
    margin-top: 2vw;
    outline: 1px solid grey; 
    box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
}
.specialPic {
    max-height: 300px;
    max-width: 600px;
    height: 12vw;
    width: 20vw;
    padding-left: 1vw;
    padding-top: 1vw;
    margin: auto;
    border-radius: 10px;
}
.specialTitle {
    font-style: bold;
    font-size: 1.6vw;
}
.specialDescription {
    font-style: italic;
    font-size: 1.2vw;
}
.specialCustomText {
    text-decoration: underline;
    font-weight: bold;
    font-size: 1vw;
    text-align: center;
    margin-bottom: 1vw;
}
.specialCustomForm {
    margin-top: 2vw;
    outline: 1px solid grey;
    text-align: left;
}
.specialAddon {
    font-size: 1vw;
}