.subHeader {
    height: 4vw;
    background-color: #78409c;
    text-align: left;
    margin-top: 2vw;
    outline: 1px solid red;
}

.title {
    color: white;
    font-size: 2vw;
    outline: 1px solid black;
}
