.html {
	font-size: 10px;
}
.App {
	/* background-image: url(./media/background.jpg); */
	/* background-color: rgb(230, 220, 242); */
	background-color:#c5c0d6;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100vh;
}

/* ADMIN */
.adminWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items:center;
}
/* ADMIN */

/* ADMINSPECIALS */
/* ADMINSPECIALS */

/* ADMINITEMS */
.adminItemsWrapper {
	display: flex;
	width:100vw;
}

.adminTable {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
	max-height: 90vh;
	width: 80vw;
	align-content: flex-start;
}
.adminItemsContainerItem {
	min-height: 25vh;
	width: calc(25% - 2vw);
	margin: 1vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 10px;
	background: rgba(105, 98, 120, .5);
	color:#241F1F;
}
.adminItemsContainerSpecial {
	min-height: 25vh;
	width: calc(33.33333% - 2vw);
	margin: 1vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 10px;
	background: rgba(105, 98, 120, .5);
	color:#241F1F;
}
.adminItemInfo {
	display: flex;
	flex-direction: column;
	padding: 1vw;
	font-size: 14px;
}
.adminItemInfo input {
	background: #C5C0D6;
	color: #241F1F;
	height:4vh;
	transition: all .3s;
}
.adminItemInfo input:focus, input:hover {
	background:rgba(105, 98, 120, .3);
	text-indent: 20px;
}
.adminItemInfo input:hover::placeholder {
	text-indent: 20px;
}
.adminItemInfo input:focus::placeholder {
	color:transparent;
}
.adminItemInfo > * {
	background:transparent;
	border: none;
	border-bottom: 1px solid black;
	cursor: text;
	font-size: 2vh;
}
.adminItemPrice {
	border-top: 1px solid black;
}

.adminItemInfo > *, input::placeholder {
	text-indent: 10px;
	color: #241F1F;
	transition: all .2s;
}
.adminItemName {
	margin-bottom: 1vh;
	font-size: 2vh;
	font-weight: bold;
	border:none;
}
.adminItemName::placeholder {
	text-align: center;
}
.adminItemDesc textarea {
	background:#C5C0D6;
	color: #241F1F;
	height: 30vh;
	overflow:auto;
	padding:1vw;
	font-size:2vh;
	border-radius: 10px;
	border:none;
	transition: all .2s;
	
}
.adminItemsContainerSpecial textarea:hover {
	background:rgba(105, 98, 120, .3);
}
.adminItemsContainerSpecial textarea:focus::after {
	color:transparent;
}
.adminItemDesc {
	background:transparent;
	border: none;
	cursor: text;
	display:flex;
	flex-direction: column;
	justify-content: center;
	padding:1vw;
}

.adminButtons {
	display: flex;
	justify-content: center;
}
.adminButtons button {
	border:none;
	margin: 1vw;
	transition: all .2s;
	border-radius: 50px;
	padding:1vw;
}
.adminButtons button:hover {
	background: #c5c0d6;
}
.checkButton {
	background:#4F4856;
	color:rgb(89, 180, 119);
}
.trashButton {
	background: #4F4856;
	color: rgb(226, 104, 104);
}

/* ADMINITEMS */
.editModalWrapper {
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	text-align:center;
}
.editModalWrapper button {
	background:rgb(105, 98, 120);
	color:#C5C0D6;
	width: 10vw;
	border-radius: 5px;
	align-self:center;
	transition: all .2s;
}
.editModalWrapper button:hover {
	background:#C5C0D6;
	color:#241F1F;
	width:10.5vw;
}
.editModalButton {
	padding: 1vw;
}
.editModalDesc {
	padding:0;
}
.editModalDesc span {
	font-size: 16px;
}
.editModalHeader {
	display:flex;
	justify-content: center;
	align-items: center;
	border-bottom:1px solid #4F4856;
	padding:.5vw;
}
.editModalBody {
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-bottom: 1px solid #241F1F;
}
.editModalBody ul {
	list-style: none;
	padding: .8vw;
	margin: 0;
	display:flex;
	flex-direction: column;
	align-items:center;
}

.editModalBody ul li h5 {
	border-bottom: 1px solid #241F1F;
	margin:0;
	padding:0;
}

.addModalWrapper {
	display:flex;
	flex-direction: column;
}
.addModalWrapper input {
	text-indent: 10px;
}

/* HOME */
.homeWrapper {
	display:flex;
	flex-direction: column;
	height: 100vh;
	align-items:center;
}
.homeHeader {
	justify-self: flex-start;
}
.homeInput {
	display: flex;
	flex-direction:column;
	height: 20vh;
	width: 25vw;
	justify-content: center;
	align-items:center;
	background: #4f4856;
	border-radius: 15px;
	margin-top: 20vh;
}
.homeInput input {
	height: 4vh;
	width:10vw;
	border: none;
	text-indent: 1vw;
	border-radius: 5px;
	transition: all .3s;
}
.homeInput input:hover, input:focus {
	background: #C5C0D6;
	color: #241F1F;
	width: 12vw;
}
.homeInput input::placeholder {
	font-size:2vh;
}
.homeInput input:focus::placeholder {
	color:transparent;
}

.hb {
	margin-top:2vh;
	background-color: rgba(197, 192, 214, 1);
	color: #4f4856;
	border-radius: 5px;
	border:none;
	font-size: 2.5vh;
}
.hb:hover {
	background: rgba(197, 192, 214, .8);
	color:#241F1F;
}
/* HOME */

/* HEADER */
.mainHeader {
	background: #978daf;
	display:flex;
	align-items:center;
	justify-content: space-between;
	height: 10vh;
}
.headerImg {
	justify-self:flex-start;
	width: 25vw;
}
.headerLinks {
	display:flex;
	justify-self: center;
	justify-content:space-evenly;
	width: 50vw;
}
.headerLinks > * {
	font-size:2.4vh;
}
.userGreeting {
	justify-self:flex-end;
	height:100%;
	width:25vw;
	display:flex;
	justify-content:center;
	align-items:center;
}
.grtng {
	padding: 1vw;
	font-size:2vh;
}
/* HEADER */

/* SPECIALS */
.specialImage {
	height: 35vh;
	border-radius: 8px;
}
.specialDetails {
	background-color: black;
	opacity: 0.75;
	height: 10vh;
	margin-bottom: 3vh;
	width: auto;
}
.specialDetails h3 {
	font-size: 1.8vh;
}
.specialDetails p {
	font-size: 1.3vh;
}

.specialUpdateAddon {
	width: 80px;
	background-color: rgb(red, green, rgb(126, 78, 240));
}
/* SPECIALS */

.navList {
	text-align: right;
}
.navList span {
	color: white;
	font-size: 2.5vh;
	font-family: "Mate SC", serif;
}

/****** PROFILE ******/
.profileWrapper {
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: space-between;

}
.profileBody {
	height:90vh;
	display: flex;
	justify-content: center;
	
}
.profileSide {
	width:15vw;
	display:flex;
	flex-direction:column;
}

.clickable:hover {
	cursor:pointer;
}
.profileOrder {
	display: flex;
	justify-content:space-around;
}
.profileOrder div {
	width:100%;
	text-align:center;
}
.profileSide {
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	background:#4F4856;
	color:#C5C0D6;
}
.profileSidePicAndStars {
	display:flex;
	flex-direction:column;
	justify-content: space-around;
}
.profileSidePic {
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profileSideStars {
	display: flex;
	padding:1vw;
	justify-content: center;
	align-items: center;
}
.profileSideFooter {
	display:flex;
	flex-direction:column;
	justify-content: space-around;
}
.profileBodyData {
	width:100vw;
	display:flex;
	flex-wrap:wrap;
	padding:2vw;
	overflow:auto;
}
.profileOrder {
	background:rgba(105, 98, 120, .5);
	border-radius:10px;
	margin:.5vw;
	width:calc(25% - 2vw);
	display:flex;
	flex-direction: column;

}
/* PROFILE */

/* ORDER FORM */
.orderFormWrapper {
	display:flex;
	flex-direction:column;
}
.orderFormBody {
	display:flex;
	justify-content: space-between;
}
.selectCategory {
	padding-top:2vh;
	background: #4F4856;
	color: #C5C0D6;
	width: 15vw;
	height:90vh;
	display:flex;
	flex-direction:column;
}
.selectCategory div {
	text-align: center;
	height: 6vh;
	display:flex;
	text-indent:1vw;
	transition: all .4s ease-in-out;
	font-size:2vh;
}
.selectCategory .addIngredient {
	margin-top: 4vh;
}
.selectCategory div:hover {
	background-color: #847e90;
	color: #241F1F;
	text-indent: 2vw;
	cursor:pointer;
}
.orderBody {
	padding: 1vw;
	display: flex;
	flex-direction:column;
	justify-content: space-between;
}
.orderFormOrderBody {
	padding:1vh;
	height:90vh;
	display:flex;
	flex-direction:column;
	align-items: center;
	overflow:auto;
}
.orderItem {
	padding:1vh;
	margin:.5vw;
	width: 50vw;
	min-height: 5vh;
	justify-content: space-between;
	align-items:center;
	display: flex;
	border-radius: 5px;
	color:#241F1F;
	cursor: default;
}
.orderItemName {
	width:30%;
	display:flex;
	justify-content: flex-start;
	text-indent: 1vw;
	align-items: center;
	
}
.orderItemName h5 {
	padding:0;
	margin:0;
}
.orderItemInfo h6 {
	padding:0;
	margin:0;
}
.orderItemInfo {
	width:60%;
	display:flex;
	justify-content: space-around;
	align-items: center;
}
.orderItemAddButton button {
	border-radius: 50px;
	background: #4F4856;
	color: #C5C0D6;
	cursor:pointer;
}
.orderItem button:hover {
	background: #C5C0D6;
	color:#4F4856;
	border: 1px solid #4F4856;
}

.orderDetails {
	width: 25vw;
	height:90vh;
	display:flex;
	flex-direction:column;
	background:#4F4856;
	color:#C5C0D6;
}
.detailsHeader {
	height: 5vh;
	display:flex;
	justify-content: center;
	align-items: center;
	font-size: 3vh;
	border-bottom: 1px solid #847e90;
}
.detailsBody {
	height:75vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.detailsBodyItems {
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	padding:2vh;
	overflow:auto;
}
.detailsBodyInfo {
	display:flex;
	padding:1vh;
	flex-direction: column;
	justify-content: space-around;
	text-indent: 2vw;
	border-top: 1px solid #847e90;
	border-bottom: 1px solid #847e90;
}
.orderDetailsItem {
	display:flex;
	justify-content:space-between;
	align-items: baseline;
}
.detailsFooter {
	height:10vh;
	display:flex;
	justify-content: space-evenly;
	align-items: center;
}
.detailsFooter .orderSubmitButton {
	color:rgba(15, 102, 12, .8);
}
.detailsFooter .orderClearButton {
	color: rgb(226, 85, 75);
}
.orderSubmitButton:hover {
	background:rgba(15, 102, 12, .5);
}
.orderClearButton:hover {
	background:#F1938D;
}
.detailsFooter div:hover {
	color: #C5C0D6;
}
.detailsFooter div {
	background: #C5C0D6;
	color:#241F1F;
	display:flex;
	justify-content: center;
	align-items: center;
	height:6vh;
	width:6vh;
	border-radius:50%;
}
.confirmModalWrapper {
	background:rgba(105, 98, 120, .3);
	min-height:40vh;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}
.orderConfirmHeader {
	display:flex;
	justify-content: center;
	align-items: center;
	padding:1vh;
	border-bottom:1px solid #4F4856;
	font-size: 3vh;
	font-weight: bold;
}
.confirmationBody {
	display:flex;
	flex-direction:column;
}
.confirmOrderInfo {
	display:flex;
}
.confirmOrderInfo div {
	width:100%;
	padding:1vw;
}
.confirmItems {
	text-indent: 1vw;
}
.confirmHealthPoints {
	display:flex;
	flex-direction: column;
	align-items:center;
}
.chpHeader {
	display:flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
}
.chpHeader span {
	border-bottom: 1px solid black;
}
.chpNumber {
	display:flex;
	justify-content: center;
	align-items: center;
}
.chpNumber div {
	display:flex;
	justify-content: center;
	align-items: center;
	width:4vw;
	height:4vw;
	border: 2px solid black;
}
.chpMessage {
	display:flex;
	justify-content:center;
	align-items: center;
	font-size: 2.5vh;
	text-align:center;
}
.confirmOrderInputs {
	display:flex;
	flex-direction:column;
	height:20vh;
	justify-content: space-around;
	padding: 1vw;
}

.orderConfirmButton {
	display:flex;
	justify-content: center;
	align-items: center;
	padding:1vw;
}
.orderConfirmButton button {
	background:rgba(64, 134, 226, 1);
	color:white;
	display:flex;
	justify-content: center;
	align-items: center;
	padding:1vh;
	border-radius:50%;
	transition: all .3s;
}
.orderConfirmButton button:hover {
	background: rgba(64, 134, 226, .8);
}
.thanksModalWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background:rgba(105, 98, 120, .3);
}
.thanksModalHeader {
	display:flex;
	justify-content: center;
	align-items:center;
	font-size: 3vh;
	padding:1vw;
}
.thanksModalBody {
	display:flex;
	justify-content: center;
	align-items:center;
	font-size: 2.5vh;
}
.thanksModalButton {
	display:flex;
	justify-content: center;
	align-items:center;
	padding: 1vw;
}
.thanksModalButton button {
	background: rgba(79, 72, 86, 1);
	color:#C5C0D6;
	border-radius: 10%;
	width: 20%;
	transition: all .3s;
}
.thanksModalButton button:hover {
	background: rgba(79, 72, 86, .8);
	width:25%;
}
/* ORDER FORM */

/* Kitchen */
.kitchenWrapper {
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}
.kitchenHeader {
	height:10vh;
}
.kitchenMain {
	height:90vh;
	overflow:auto;
}

.kitchenBody {
	display:flex;
	flex-wrap:wrap;
	padding: 2vw;
	overflow:auto;
	justify-content: center;
}
.kitchenOrder {
	padding:1vh;
	margin:.5vw;
	width: calc(33.33333% - 2vw);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 5px;
	color:#241F1F;
	cursor: default;
	background: rgba(105, 98, 120, 0.5);
}
.orderTop {
	display:flex;
	flex-direction: column;
	border:2px solid #241F1F;
}
.kOrderUserId {
	display:flex;
	justify-content: space-between;
	align-items: center;
	border-bottom:2px solid #241F1F;
}
.ticketData {
	width:50%;
	display:flex;
	justify-content:center;
	font-weight: bold;
}
.ticketLabel {
	padding:.3vw;
	width:50%;
	display:flex;
	justify-content:flex-start;
	border-right:2px solid #241F1F;
}
.kOrderTime {
	display:flex;
	justify-content: center;
	align-items: center;
	border-bottom:2px solid #241F1F;
}

.kOrderItems {
	padding:.5vw;
	height:30vh;
	display:flex;
	border:1px solid black;
}
.kOrderItemsWrapper {
	display:flex;
	flex-direction: column;
	overflow:auto;
	width:100%;
}
.kOrderItemName {
	padding:.5vh;
	font-size:1vw;
}
.kOrderComments {
	padding:.5vw;
	display:flex;
	flex-direction: column;
}
.commentsHeader {
	display:flex;
	justify-content: center;
	align-items: center;
	height: 15%;
	border-bottom: 1px solid #241F1F;
}
.commentsBody {
	padding: .8vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.kOrderFooter {
	color:#C5C0D6;
	display: flex;
	justify-content: center;
	align-items: center;
}
.kOrderFooter div {
	border-radius: 50%;
	background-color:rgba(71, 100, 196, 0.8);
	border: none;
	color:#C5C0D6;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1vh;
	transition: all .3s;
	cursor:pointer;
}
.kOrderFooter div:hover {
	background-color:rgba(71, 100, 196, 1);
}

