.App {
  /* background-image: url(./media/background.jpg); */
  background-color: rgb(230, 220, 242);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

/* ADMIN */
manageItemButton {
  font-size: 1.8vh;
}
.manageItemPrice {
  width: 100%;
  height: 5vh;
}
.itemTable thead tr th {
  font-size: 2vh;
  font-family: Georgia;
}
.itemTable tbody tr td {
  font-size: 2vh;
  vertical-align: middle;
}
.manageItemHeader {
  text-align: left;
}
/* ADMIN */



/* HOME */
.homeHeader {
  grid-area: hd;
}
.homeInput {
  grid-area: hi;  
}
.homeButton {
  grid-area: hb;
  margin-top: 20px;
}
.hb {
  width:100%;
  background-color:#FFFFFF;
  color:#4F4856;
}
.hb:hover {
  background-color:#978DAF;
  color:black;
  border:1px solid white;
}
.homeWrapper {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas: 
    'hd hd hd hd hd hd hd hd hd'
    '... ... ... ... ... ... ... ... ...'
    '... ... ... hc hc hc ... ... ...'
   ;
}
.homeContainer {
  border-radius: 20px;
  background-color: #4F4856;
  grid-area: hc;
  display:grid;
  grid-template-areas:
   '... ... hi hi hi ... ...'
   '... ... ... hb ... ... ...'
  ;
  padding:30px;
}
/* HOME */

/* HEADER */
.mainHeader {
  display:grid;
  background-color:#978DAF;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: 
  'logo logo ... ... ... ... ... ...'
  'logo logo  hl ol pl al icn grt'
  'logo logo ... ... ... ... ... ...'
  ;
}
/* .mainHeader div {
  outline:1px solid blue;
} */

.fedEatsLogo {
  grid-area: logo;
}
.fedEatsLogoImg {
  height:10vh;
  width: auto;
}
.homeLink {
  grid-area: hl;
  height:36px;
  text-align: center;
}
.orderFormLink {
  grid-area: ol;
  text-align: center;
}
.profileLink {
  grid-area: pl;
  text-align: center;
}
.adminLink {
  grid-area: al;
  text-align: center;
} 
.userIcon {
  grid-area: icn;
}
.userGreeting {
  grid-area: grt;
}
.navLinks {
  color:black;
  text-align:center;
}
/* HEADER */



/* ADMIN */
.adminSelectCategory ul li {
  list-style: none;
} 
.adminTable {
  overflow:scroll;
  max-height:410px;
  padding:10px;
}
.addItemInput {
  margin-top: 5vh;
  padding: 10px;
}
/* ADMIN */



/* SPECIALS */
.specialImage {
  height: 35vh;
  border-radius: 8px;
}
.specialDetails {
  background-color: black;
  opacity: .75;
  height:10vh;
  margin-bottom: 3vh;
  width:auto;

}
.specialDetails h3 {
  font-size: 1.8vh;
}
.specialDetails p {
  font-size: 1.3vh;
}

.specialUpdateAddon {
  width: 80px;
  background-color:rgb(red, green, rgb(126, 78, 240));
}
/* SPECIALS */


.navList {
  text-align:right;
}
.navList span {
  color:white;
  font-size: 2.5vh;
  font-family: 'Mate SC', serif;
}


/****** PROFILE ******/
.profileSelectCard {
  min-height: 150px;
  min-width: 500px;
  background-color: rgb(31, 33, 51);
  color:white;
}
.profileSelectTitle {
  height:20px;
  text-align: center;
  font-size:3vh;
  margin-top:2vh;
}
.profileViewCard {
  min-height: 150px;
  min-width: 500px;
  background-color: rgb(31, 33, 51);
  color:white;
}
.profileViewTitle {
  height:20px;
  text-align: center;
  font-size:3vh;
  margin-top:2vh;
}
/* PROFILE */

/* LOGIN */
.loginWrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas: 
    'hd hd hd hd hd hd'
    '... ... main main ... ...'
  ;

}
.loginHeader {
  grid-area: hd;
}
.loginJumbo {
  grid-area: main
}
/* LOGIN */

/* ORDER FORM */
.orderFormWrapper {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: 
    'hd hd hd hd hd hd hd hd hd'
    '... ... ... ... ... ... ... ... ...'
    '... main main main main ... deets deets ...'
    '... main main main main ... deets deets ...'
    '... main main main main ... deets deets ...'
    '... main main main main ... deets deets ...'
    '... main main main main ... deets deets ...'
}
.orderFormHeader {
  grid-area: hd;
}
.orderForm {
  grid-area: main;
  border: 2px solid red;
  border-radius: 15px;
}
.orderFormDetails {
  grid-area: deets;
  border: 2px solid blue;
  border-radius: 15px;
}
.orderDetailsInner {
  display:grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'hd'
    'itm'
    'ftr'
  ;
}

.orderDetailsTitle {
  grid-area: hd;
}
.renderOrderItemsDiv {
  grid-area: itm;
  height: 300px;
  overflow:scroll;
  outline: 1px dotted purple;
}
.orderDetailsFooter {
  grid-area: ftr;
}
.detailsFooterWrapper {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  max-height:5px;
  grid-template-areas: 
  'ttl ttl ttl ttl ttl'
  '... ... ... ... ...'
    '... clr... cfrm ...'
    ;
}
.detailsClearButton {
  grid-area: clr;
}
.detailsConfirmButton {
  grid-area: cfrm;
}
.detailsTotal {
  grid-area: ttl;
}
.detailsButton {
  width: 80px;
}
.formWrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    'sc sc sc sc sc sc sc'
    'form form form form form form form'
    'form form form form form form form'
    'form form form form form form form'
    'form form form form form form form'
    'form form form form form form form'
    
}
.selectCategory {
  grid-area: sc;
  width:100%;
}

.actualForm {
  grid-area: form;
  overflow:scroll;
  height: 400px;
}
.selectCategoryWrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas:
  'brd trt ptn chs veg cdmt xtr'
}
.selectBreadButton {
  text-align:left;
  grid-area: brd;
  cursor: pointer;
  background-color:grey;
}
.selectTortillaButton {
  text-align:left;
  grid-area: trt;
  cursor: pointer;
   background-color:grey;
}
.selectProteinButton {
  text-align:left;
  grid-area: ptn;
  cursor: pointer;
   background-color:grey;
}
.selectCheeseButton {
  text-align:left;
  grid-area: chs;
  cursor: pointer;
   background-color:grey;
}
.selectVeggieButton {
  text-align:left;
  grid-area: veg;
  cursor: pointer;
   background-color:grey;
}
.selectCondimentButton {
  text-align:center;
  grid-area: cdmt;
  cursor: pointer;
   background-color:grey;
}
.selectExtraButton {
  text-align:right;
  grid-area: xtr;
  cursor: pointer;
   background-color:grey;
}

.renderItemWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-areas: 
  'nm nm prc hp btn'
  ;
  padding: 10px;
}
.actualForm > div:nth-child(odd) {
  background-color:grey;
}

.renderItemName {
  grid-area: nm;
}
.renderItemPrice {
  grid-area: prc;
}
.renderItemHP {
  grid-area: hp;
}
.renderItemAddButton {
  grid-area: btn;
}

.orderDetailsWrapper {
  display:grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas: 
  'nm nm prc hp'
  ;
  padding: 10px;
}
.detailsName {
  grid-area: nm;
}
.detailsPrice {
  grid-area: prc;
}
.detailsHP {
  grid-area: hp;
}
/* ORDER FORM */
