.html {
	font-size: 10px;
}
.App {
	/* background-image: url(./media/background.jpg); */
	/* background-color: rgb(230, 220, 242); */
	background-color:#c5c0d6;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100vh;
}

/* ADMIN */
.adminWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items:center;
}
/* ADMIN */

/* ADMINSPECIALS */
/* ADMINSPECIALS */

/* ADMINITEMS */
.adminItemsWrapper {
	display: flex;
	width:100vw;
}

.adminTable {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
	max-height: 90vh;
	width: 80vw;
	align-content: flex-start;
}
.adminItemsContainerItem {
	min-height: 25vh;
	width: calc(25% - 2vw);
	margin: 1vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 10px;
	background: rgba(105, 98, 120, .5);
	color:#241F1F;
}
.adminItemsContainerSpecial {
	min-height: 25vh;
	width: calc(33.33333% - 2vw);
	margin: 1vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 10px;
	background: rgba(105, 98, 120, .5);
	color:#241F1F;
}
.adminItemInfo {
	display: flex;
	flex-direction: column;
	padding: 1vw;
	font-size: 14px;
}
.adminItemInfo input {
	background: #C5C0D6;
	color: #241F1F;
	height:4vh;
	transition: all .3s;
}
.adminItemInfo input:focus, input:hover {
	background:rgba(105, 98, 120, .3);
	text-indent: 20px;
}
.adminItemInfo input:hover::placeholder {
	text-indent: 20px;
}
.adminItemInfo input:focus::placeholder {
	color:transparent;
}
.adminItemInfo > * {
	background:transparent;
	border: none;
	border-bottom: 1px solid black;
	cursor: text;
	font-size: 2vh;
}
.adminItemPrice {
	border-top: 1px solid black;
}

.adminItemInfo > *, input::placeholder {
	text-indent: 10px;
	color: #241F1F;
	transition: all .2s;
}
.adminItemName {
	margin-bottom: 1vh;
	font-size: 2.5vh;
	font-weight: bold;
	border:none;
}
.adminItemName::placeholder {
	text-align: center;
}
.adminItemDesc textarea {
	background:#C5C0D6;
	color: #241F1F;
	height: 30vh;
	overflow:auto;
	padding:1vw;
	font-size:2vh;
	border-radius: 10px;
	border:none;
	transition: all .2s;
	
}
.adminItemsContainerSpecial textarea:hover {
	background:rgba(105, 98, 120, .3);
}
.adminItemsContainerSpecial textarea:focus::after {
	color:transparent;
}
.adminItemDesc {
	background:transparent;
	border: none;
	cursor: text;
	display:flex;
	flex-direction: column;
	justify-content: center;
	padding:1vw;
}

.adminButtons {
	display: flex;
	justify-content: center;
}
.adminButtons button {
	border:none;
	margin: 1vw;
	transition: all .2s;
	border-radius: 50px;
	padding:1vw;
}
.adminButtons button:hover {
	background: #c5c0d6;
}
.checkButton {
	background:#4F4856;
	color:rgb(89, 180, 119);
}
.trashButton {
	background: #4F4856;
	color: rgb(226, 104, 104);
}

/* ADMINITEMS */
.editModalWrapper {
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	text-align:center;
}
.editModalWrapper button {
	background:rgb(105, 98, 120);
	color:#C5C0D6;
	width: 10vw;
	border-radius: 5px;
	align-self:center;
	transition: all .2s;
}
.editModalWrapper button:hover {
	background:#C5C0D6;
	color:#241F1F;
	width:10.5vw;
}
.editModalButton {
	padding: 1vw;
}
.editModalDesc {
	padding:0;
}
.editModalDesc span {
	font-size: 16px;
}
.editModalHeader {
	display:flex;
	justify-content: center;
	align-items: center;
	border-bottom:1px solid #4F4856;
	padding:.5vw;
}
.editModalBody {
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-bottom: 1px solid #241F1F;
}
.editModalBody ul {
	list-style: none;
	padding: .8vw;
	margin: 0;
	display:flex;
	flex-direction: column;
	align-items:center;
}

.editModalBody ul li h5 {
	border-bottom: 1px solid #241F1F;
	margin:0;
	padding:0;
}

.addModalWrapper {
	display:flex;
	flex-direction: column;
}
.addModalWrapper input {
	text-indent: 10px;
}

/* HOME */
.homeWrapper {
	display:flex;
	flex-direction: column;
	height: 100vh;
	align-items:center;
}
.homeHeader {
	justify-self: flex-start;
}
.homeInput {
	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content: space-around;
	width: 20vw;
	height: 30vh;
	background: #4f4856;
	padding: 40px;
	border-radius: 15px;
	margin-top: 20vh;
}
.homeInput input {
	height: 5vh;
	border: none;
	text-indent: 10px;
	border-radius: 5px;
	transition: all .5s;
}
.homeInput input:focus {
	border: none;
}

.hb {
	background-color: #ffffff;
	color: #4f4856;
	border-radius: 5px;
	width: 100%;

}
/* HOME */

/* HEADER */
.mainHeader {
	background: #978daf;
	display:flex;
	align-items:center;
	justify-content: space-between;
	height: 10vh;
}
.headerImg {
	justify-self:flex-start;
	width: 25vw;
}
.headerLinks {
	display:flex;
	justify-self: center;
	justify-content:space-evenly;
	width: 50vw;
}
.userGreeting {
	justify-self:flex-end;
	height:100%;
	width:25vw;
	display:flex;
	justify-content:center;
	align-items:center;
	outline:1px solid black;
}
.grtng {
	padding: 1vw;
}
/* HEADER */

/* SPECIALS */
.specialImage {
	height: 35vh;
	border-radius: 8px;
}
.specialDetails {
	background-color: black;
	opacity: 0.75;
	height: 10vh;
	margin-bottom: 3vh;
	width: auto;
}
.specialDetails h3 {
	font-size: 1.8vh;
}
.specialDetails p {
	font-size: 1.3vh;
}

.specialUpdateAddon {
	width: 80px;
	background-color: rgb(red, green, rgb(126, 78, 240));
}
/* SPECIALS */

.navList {
	text-align: right;
}
.navList span {
	color: white;
	font-size: 2.5vh;
	font-family: "Mate SC", serif;
}

/****** PROFILE ******/
.profileWrapper {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-areas:
		"hd hd hd hd hd hd hd hd hd"
		"sd sd bd bd bd bd bd bd bd";
}
.profileHeader {
	grid-area: hd;
}
.profileBody {
	background-color:#c5c0d6;
	grid-area: bd;
	height: 90vh;
	padding: 50px;
	/* outline:1px solid black; */
	display: flex;
	flex-direction:column;
}
.profileBodyHeaders {
	display:flex;
	justify-content:space-around;
	text-align:center;
	height: 6vh;
}
.profileBodyHeaders h5 {
	width: 100%;
	outline: 1px solid black;
	text-align:center;
}

.profileBodyData {
	outline: 1px solid black;
}

.clickable:hover {
	cursor:pointer;
}
.profileOrder {
	display: flex;
	justify-content:space-around;
}
.profileOrder div {
	width:100%;
	text-align:center;
}
.profileSide {
	grid-area: sd;
	display: grid;
	grid-template-rows: repeat(9, 1fr);
	height: 90vh;
	background-color: #4f4856;
	color: #c5c0d6;
	grid-template-areas:
		"pp"
		"pp"
		"pp"
		"pp"
		"..."
		"..."
		"pl"
		"..."
		"..."
		"pf";
}
.profileSidePicAndStars {
	grid-area: pp;
	height: 350px;
	display: grid;
	grid-template-rows: 3fr 1fr;
	grid-template-areas:
		"psp"
		"pss";
}
.profileSidePic {
	grid-area: psp;
	height: 40vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"... pic ..."
		"... pss ...";
}
.profileSidePicInner {
	grid-area: pic;
	margin-top: 30px;
}
.profileSideStars {
	grid-area: pss;
	width: 160px;
	margin-left: 18px;
	margin-top: 15px;
	grid-template-areas: "... strs ...";
}
.profileSideLinks {
	grid-area: pl;
	height: 80px;
	display: grid;
	grid-template-areas:
		"ol"
		"fl";
}
.profileSideLinks div {
	border-top: 1px solid #c5c0d6;
	border-bottom: 1px solid #c5c0d6;
}
.profileSideLinksOrders {
	grid-area: ol;
}
.profileSideLinksOrders h5 {
	margin-left: 30px;
	cursor: pointer;
	transition: all 0.5s;
}
.profileSideLinksOrders:hover h5 {
	margin-left: 45px;
	color: white;
}
.profileSideLinksFavs {
	grid-area: fl;
}
.profileSideLinksFavs h5 {
	margin-left: 30px;
	cursor: pointer;
	transition: all 0.5s;
}
.profileSideLinksFavs:hover h5 {
	margin-left: 45px;
	color: white;
}
.profileSideFooter {
	grid-area: pf;
	display: grid;
	grid-template-areas:
		"pfe"
		"pid";
	border-top: 1px solid #c5c0d6;
}
.profileSideFooterEmail {
	grid-area: pfe;
}
.profileSideFooterEmail h6 {
	margin-left: 30px;
}
.profileSideFooterID h6 {
	margin-left: 30px;
}
.profileSideFooterID {
	grid-area: pid;
}
/* PROFILE */

/* ORDER FORM */
.orderFormWrapper {
	display:flex;
	flex-direction:column;
}
.orderFormBody {
	display:flex;
	justify-content: space-between;
}
.selectCategory {
	padding-top:2vh;
	background: #4F4856;
	color: #C5C0D6;
	width: 15vw;
	height:90vh;
	display:flex;
	flex-direction:column;
}
.selectCategory div {
	text-align: center;
	height: 6vh;
	display:flex;
	text-indent:1vw;
	transition: all .4s ease-in-out;
}
.selectCategory .addIngredient {
	margin-top: 4vh;
}
.selectCategory div:hover {
	background-color: #847e90;
	color: #241F1F;
	text-indent: 2vw;
	cursor:pointer;
}
.orderBody {
	padding: 2vw;
	display: flex;
	flex-direction:column;
	overflow: auto;
	max-height: 90vh;
	width: 60vw;
}
.orderItem {
	padding:1vh;
	margin:.5vw;
	min-height: 5vh;
	justify-content: space-between;
	align-items:center;
	display: flex;
	border-radius: 5px;
	color:#241F1F;
	cursor: default;
}
.orderItemName {
	width:30%;
	display:flex;
	justify-content: flex-start;
	text-indent: 1vw;
	align-items: center;
	
}
.orderItemName h5 {
	padding:0;
	margin:0;
}
.orderItemInfo h6 {
	padding:0;
	margin:0;
}
.orderItemInfo {
	width:60%;
	display:flex;
	justify-content: space-around;
	align-items: center;
}
.orderItemAddButton button {
	border-radius: 50px;
	background: #4F4856;
	color: #C5C0D6;
	cursor:pointer;
}
.orderItem button:hover {
	background: #C5C0D6;
	color:#4F4856;
	border: 1px solid #4F4856;
}

.orderDetails {
	width: 25vw;
	height:90vh;
	display:flex;
	flex-direction:column;
	background:#4F4856;
	color:#C5C0D6;
}
.detailsHeader {
	height: 5vh;
	display:flex;
	justify-content: center;
	align-items: center;
	font-size: 3vh;
	border-bottom: 1px solid #847e90;
}
.detailsBody {
	height:75vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.detailsBodyItems {
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	padding:2vh;
	overflow:auto;
}
.detailsBodyInfo {
	display:flex;
	padding:1vh;
	flex-direction: column;
	justify-content: space-around;
	text-indent: 2vw;
	border-top: 1px solid #847e90;
	border-bottom: 1px solid #847e90;
}
.orderDetailsItem {
	display:flex;
	justify-content:space-between;
	align-items: baseline;
}
.detailsFooter {
	height:10vh;
	display:flex;
	justify-content: space-evenly;
	align-items: center;
}
.detailsFooter .orderSubmitButton {
	color:rgb(17, 160, 12);
}
.detailsFooter .orderClearButton {
	color: rgb(226, 85, 75);
}
.orderSubmitButton:hover {
	background:#99E896;
}
.orderClearButton:hover {
	background:#F1938D;
}
.detailsFooter div:hover {
	color: #C5C0D6;
}
.detailsFooter div {
	background: #C5C0D6;
	color:#241F1F;
	display:flex;
	justify-content: center;
	align-items: center;
	height:6vh;
	width:6vh;
	border-radius:50%;
}
.confirmModalWrapper {
	background:rgba(105, 98, 120, .3);
	min-height:40vh;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}
.orderConfirmHeader {
	display:flex;
	justify-content: center;
	align-items: center;
	padding:1vh;
	border-bottom:1px solid #4F4856;
	font-size: 3vh;
	font-weight: bold;
}
.confirmationBody {
	display:flex;
	flex-direction:column;
}
.confirmOrderInfo {
	display:flex;
}
.confirmOrderInfo div {
	width:100%;
	padding:1vw;
}
.confirmItems {
	text-indent: 1vw;
}
.confirmHealthPoints {
	display:flex;
	flex-direction: column;
	align-items:center;
}
.chpHeader {
	display:flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
}
.chpHeader span {
	border-bottom: 1px solid black;
}
.chpNumber {
	display:flex;
	justify-content: center;
	align-items: center;
}
.chpNumber div {
	display:flex;
	justify-content: center;
	align-items: center;
	width:4vw;
	height:4vw;
	border: 2px solid black;
}
.chpMessage {
	display:flex;
	justify-content:center;
	align-items: center;
	font-size: 2.5vh;
	text-align:center;
}
.confirmOrderInputs {
	display:flex;
	flex-direction:column;
	height:20vh;
	justify-content: space-around;
	padding: 1vw;
}

.orderConfirmButton {
	display:flex;
	justify-content: center;
	align-items: center;
	padding:1vw;
}
.orderConfirmButton button {
	background:rgba(64, 134, 226, 1);
	color:white;
	display:flex;
	justify-content: center;
	align-items: center;
	padding:1vh;
	border-radius:50%;
	transition: all .3s;
}
.orderConfirmButton button:hover {
	background: rgba(64, 134, 226, .8);
}

/* ORDER FORM */

/* Kitchen */
.kitchenWrapper {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-areas:
		"hd hd hd hd hd hd hd hd hd"
		"sd sd bd bd bd bd bd bd bd"
	;
}

.kitchenHeader {
	grid-area: hd;
}
.kitchenSide {
	grid-area: sd;
	display: grid;
	grid-template-rows: repeat(9, 1fr);
	height: 90vh;
	background-color: #4f4856;
	color: #c5c0d6;
	grid-template-areas:
		"pp"
		"pp"
		"pp"
		"pp"
		"..."
		"..."
		"pl"
		"..."
		"..."
		"pf";
}
.kitchenSidePicAndStars {
	grid-area: pp;
	height: 350px;
	display: grid;
	grid-template-rows: 3fr 1fr;
	grid-template-areas:
		"psp"
		"pss";
}
.kitchenSidePic {
	grid-area: psp;
	height: 40vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"... pic ..."
		"... pss ...";
}
.kitchenSidePicInner {
	grid-area: pic;
	margin-top: 30px;
}
.kitchenSideStars {
	grid-area: pss;
	width: 160px;
	margin-left: 18px;
	margin-top: 15px;
	grid-template-areas: "... strs ...";
}
.kitchenSideLinks {
	grid-area: pl;
	height: 80px;
	display: grid;
	grid-template-areas:
		"ol"
		"fl";
}
.kitchenSideLinks div {
	border-top: 1px solid #c5c0d6;
	border-bottom: 1px solid #c5c0d6;
}
.kitchenSideLinksOrders {
	grid-area: ol;
}
.kitchenSideLinksOrders h5 {
	margin-left: 30px;
	cursor: pointer;
	transition: all 0.5s;
}
.kitchenSideLinksOrders:hover h5 {
	margin-left: 45px;
	color: white;
}
.kitchenSideLinksFavs {
	grid-area: fl;
}
.kitchenSideLinksFavs h5 {
	margin-left: 30px;
	cursor: pointer;
	transition: all 0.5s;
}
.kitchenSideLinksFavs:hover h5 {
	margin-left: 45px;
	color: white;
}
.kitchenSideFooter {
	grid-area: pf;
	display: grid;
	grid-template-areas:
		"pfe"
		"pid";
	border-top: 1px solid #c5c0d6;
}
.kitchenSideFooterEmail {
	grid-area: pfe;
}
.kitchenSideFooterEmail h6 {
	margin-left: 30px;
}
.kitchenSideFooterID h6 {
	margin-left: 30px;
}
.kitchenSideFooterID {
	grid-area: pid;
}

.kitchenBody {
	grid-area: bd;
	padding: 50px;
	display:flex;
	flex-direction: column;
}
.kitchenBodyHeaders {
	display:flex;
	justify-content:space-around;
	text-align:center;
	height: 6vh;
}
.kitchenBodyHeaders h5 {
	width: 100%;
	outline: 1px solid black;
}
.kitchenBodyData {
	outline: 1px solid black;
}
.kitchenOrder {
	display: flex;
	justify-content: space-around;
}
.kitchenOrder div {
	width:100%;
	text-align:center;
}